body
    font-family: "Segoe UI", "Segoe UI Web (West European)", "Segoe UI", -apple-system, BlinkMacSystemFont, "Roboto", "Helvetica Neue", sans-serif
    height: calc(100vh - 20px)
    margin: 0
    padding: 0

body .ms-Card
    background-color: #ffffff

#root
    padding: 10px
    height: inherit
    & > .ms-Grid
        height: inherit

.app-container
    display: flex
    height: inherit

.nav-container
    border: 1px solid #C8C6C4
    height: inherit

.content-container
    background-color: #FAF9F8
    display: inline

    & > .ms-Card
        width: 100%
        height: calc(100%)
        max-width: none
        